.missing {
    text-align: center;

    h1 {
        font-size: 15rem;
        font-weight: 900;
        color: $primary-color
    }

    h3 {
        font-size: 3rem;
        font-weight: 700;
        color: $smoke;
        text-transform: uppercase;
    }
}
