// General nav
$nav-height: 64px;
$nav-bg: $primary-color;
$nav-dropdown-bg: $primary-color;
$nav-text-color: $white;
$nav-dark-text-color: $coal;

// Nav logo
$nav-logo-margin: 32px;
$nav-logo-padding: 12px;
$nav-logo-height: $nav-height - $nav-logo-padding * 2;
$nav-logo-hover-bg: transparent;
$nav-logo-font-family: Montserrat;
$nav-logo-font-weight: 700;
$nav-logo-font-size: 2rem;
$nav-logo-font-color: inherit;
$nav-logo-text-mobile-hidden: true;

// Nav links
$nav-item-hover-bg: darken($nav-bg, 6%);
$nav-item-hover-color: darken($nav-text-color, 6%);
$nav-item-hover-padding: 0 16px;
$nav-dropdown-item-height: $nav-height / 3 * 2;

// Nav burger
$nav-burger-padding: $nav-logo-padding * 1.5;
$nav-burger-height: $nav-height - $nav-logo-padding * 3;

.navbar {
    display: flex;
    align-items: flex-start;
    max-height: $nav-height;
    background: $nav-bg;
    color: $nav-text-color;
    position: relative;
    overflow: visible;
    transition: .3s;

    a {
        cursor: pointer;
    }

    * {
        color: $nav-text-color;
    }

    &__logo {
        height: $nav-height;
        margin-right: $nav-logo-margin;
        padding-right: 16px;

        figure {
            display: flex;
            margin: 0;
            align-items: center;
            height: 100%;

            img, svg {
                max-height: $nav-logo-height;
                padding: 0 $nav-logo-padding;
                display: block;
            }

            figcaption {
                font-family: $nav-logo-font-family;
                font-weight: $nav-logo-font-weight;
                font-size: $nav-logo-font-size;
                color: $nav-logo-font-color;

                @if ($nav-logo-text-mobile-hidden) {
                    @include media-query(phablet-down) {
                        display: none;
                    };
                }
            }
        }

        &:hover {
            background: $nav-logo-hover-bg;
        }
    }

    &__left, &__right, &__dropdown, &__burger {
        height: $nav-height;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;
            line-height: $nav-height;
        }
    }

    &__left, &__right, &__dropdown {
        display: none;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;
            line-height: $nav-height;

            li {
                display: inline-block;
                height: 100%;
                padding: $nav-item-hover-padding;

                &:hover {
                    background: $nav-item-hover-bg;
                    color: $nav-item-hover-color;
                }
            }
        }

        @include media-query(lap-up) {
            display: block;
        };
    }

    &__right {
        margin-left: auto;
    }

    &__dropdown {
        display: none;
        height: auto;
    }

    &__burger {
        margin-left: auto;
        cursor: pointer;
        display: block;

        img, svg {
            display: block;
            padding: $nav-burger-padding;
            max-height: $nav-burger-height;
        }

        @include media-query(lap-up) {
            display: none;
        };
    }

    &__wrapper {
        @extend .navbar;

        max-width: $grid-width;
        width: 100%;
        margin: 0 auto;
    }

    &__padder {
        height: $nav-height;
        width: 100%;
    }

    &--active {
        max-height: 100vh;

        .navbar {
            &__dropdown {
                position: absolute;
                top: $nav-height;
                display: block;
                background: $nav-dropdown-bg;
                width: 100%;

                ul {
                    display: block;

                    a, li {
                        display: block;
                        line-height: $nav-dropdown-item-height;
                        height: $nav-dropdown-item-height;
                    }
                }
            }
        }
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    &--center {
        .navbar {
            &__logo {
                order: 2;
                margin: 0 auto;
                padding: 0;

                figcaption { display: none }

                @include media-query(lap-down) {
                    position: absolute;
                    width: 100%;
                    z-index: 0;

                    img { margin: 0 auto; }
                };
            }
            &__left {
                order: 1;
            }
            &__right {
                order: 3;
                margin: 0;
            }
            &__burger {
                order: 4;
                z-index: 1;
            }
        }
    }

    &--transparent {
        background: transparent;

        .navbar {
            &__left, &__right, &__dropdown {
                ul li:hover {
                    background: transparentize($nav-dark-text-color, .8);
                }
            }

            &__logo {
                &:hover {
                    background: transparentize($nav-dark-text-color, .8);
                }
            }
        }
    }

    &--dark {
        * { color: $nav-dark-text-color }
    }
}
