@charset 'utf-8';

@import 'settings';
@import 'abimis';
// These files are used by Animate-SASS
@import 'animate-settings';
@import 'animate';

@import 'docs/list';
@import 'docs/sidenav';
@import 'docs/body';
@import 'docs/test';
@import 'docs/missing';

@import 'playground/main';

// @import 'sections/changelog';

body {
    font-family: Open Sans;
}

> h1 {
    font-weight: 900;
    font-size: 6rem;
}

.docs {
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        &__title {
            margin-bottom: 0;
            margin-left: 16px;
            font-weight: 700;
            color: $white;
        }
    }
}

.home__footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    line-height: 80px;
    color: $white;

    span {
        margin: 0 16px;
    }

    a {
        color: $white;
    }
}
